/* Values */

/* Colors */

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$ternary-color: var(--ternary-color);
$default-color: var(--default-color);
$default-inner-color: var(--default-inner-color);

$primary-font-color:var(--ternary-color);
$secondary-font-color: var(--secondary-color);