/* Values */

@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import "_values";

$primary-default-bg: #ffffff;
$secondary-default-bg: #1f2741;

$primary-color: #07338f;

$Audiowide-font: "Audiowide";

/* Footer */

.footer {
  height: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(179, 179, 179);

  .footer-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    .brand {
      height: 200px;
      width: 30%;

      .details {
        width: 80%;
        margin-top: 10px;
        font-size: 14px;
        color: #313131;
        text-align: justify;
      }
    }

    .quick-links {
      height: 200px;
      width: 20%;
      color: $ternary-color;

      .heading {
        font-size: 16px;
        font-weight: 600;
      }

      .links-container {
        font-size: 14px;
        color: #313131;

        .links {
          margin-top: 10px;

          span {
            cursor: pointer;
          }
          :hover {
            color: $ternary-color;
          }
        }
      }
    }

    .support {
      height: 200px;
      width: 20%;

      color: $ternary-color;

      .heading {
          font-size: 16px;
        font-weight: 600;
      }

      .links-container {
        font-size: 14px;
        color: #313131;

        .links {
          margin-top: 10px;

          span {
            cursor: pointer;
          }
          :hover {
            color: $ternary-color;
          }
        }
      }
    }

    .mail {
      height: 200px;
      width: 30%;

      color: $ternary-color;

      .heading {
        font-size: 16px;
        font-weight: 600;
      }

      .details {
        margin-top: 10px;
        font-size: 14px;
        color: #313131;
      }

      .mail-input {
        margin-top: 10px;

        display: flex;
        align-items: center;
        gap: 10px;

        input {
          height: 35px;
          width: 300px;
          padding: 5px;
          background-color: #fff;
          font-size: 18px;
          font-weight: 600;
          border: none;
          outline: none;
        }

        button {
          height: 45px;
          width: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $secondary-color;
          color: $ternary-color;
            font-size: 16px;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .external-links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        .link {
          height: 45px;
          width: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary-default-bg;
          border-radius: 100%;
          float: left;
          transition: 0.5s;
        }
        .ic-twitter {
          color: #159af2;
          transition: 0.5s;
        }
        .ic-twitter:hover {
          box-shadow: 0 0 10px 0.5px #1c9ff7;
          transition: 0.3s;
        }

        .ic-facebook {
          color: #4057a7;
          transition: 0.5s;
        }
        .ic-facebook:hover {
          box-shadow: 0 0 10px 0.5px #4057a7;
          transition: 0.5s;
        }

        .ic-instagram {
          color: #e0093c;
          transition: 0.5s;
        }
        .ic-instagram:hover {
          box-shadow: 0 0 10px 0.5px #e0093c;
          transition: 0.5s;
        }
        .ic-xbox {
          color: #0f7d0d;
          transition: 0.5s;
        }
        .ic-xbox:hover {
          box-shadow: 0 0 10px 0.5px #0f7d0d;
          transition: 0.5s;
        }
      }
    }
  }
}
