@import "_values";

/*home*/

.home {
  // background-color: rgba(128, 128, 128, 0.212);
  padding-top: 0.8rem;
}

/* fashion-banner */

.fashion-banner {
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url(../../assets/imgs/home/latest-card-bg.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 1px #aeaeae;
  .banner-dark {
    height: calc(100vh - 100px);
    width: 100%;
    background: linear-gradient(to right, #00000047, #00000000);
    .fashion-offer-contents {
      text-transform: uppercase;
      color: $default-color;
      height: calc(100vh - 100px);
      font-weight: 600;
      .grab-now-btn {
        height: 45px;
        width: 150px;
        background-color: transparent;
        color: $ternary-color;
        border: 2px solid $ternary-color;
        outline: none;
        text-transform: uppercase;
        transition: 0.3s;
        font-weight: 600;
      }
      .grab-now-btn:hover {
        background-color: $ternary-color;
        color: $default-color;
        border: 2px solid transparent;
        transition: 0.3s;
      }
    }
  }
}

/* shop-for-banner */

.shop-for-banner {
  .banner-container {
    display: flex;
    gap: 0.8rem;
    .men {
      height: 80vh;
      min-width: calc(50% - 0.4rem);
      min-width: calc(50% - 0.4rem);
      background-image: url(../../assets/imgs/home/shop-for-men-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      .contents-container {
        height: 80vh;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        .contents {
          text-align: center;
          letter-spacing: 4px;
          .heading {
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .shop-for {
            font-size: 30px;
            color: #fff;
            font-weight: 600;
          }
          .discover-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            .btn {
              height: 40px;
              width: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              border-bottom: 1px solid #fff;
              cursor: pointer;
              transition: 0.3s;
            }
            .btn:hover {
              color: #fff;
              background-color: $primary-color;
              border-bottom: 1px solid transparent;
              transition: 0.3s;
            }
          }
        }
      }
      .contents-container:hover {
        background-color: #00000039;
        transition: 0.3s;
      }
    }
    .women {
      height: 80vh;
      min-width: calc(50% - 0.4rem);
      min-width: calc(50% - 0.4rem);
      background-image: url(../../assets/imgs/home/shop-for-women-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      display: flex;
      align-items: center;
      justify-content: center;

      .contents-container {
        height: 80vh;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        .contents {
          text-align: center;
          letter-spacing: 4px;
          .heading {
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .shop-for {
            font-size: 30px;
            color: #fff;
            font-weight: 600;
          }
          .discover-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            .btn {
              height: 40px;
              width: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              border-bottom: 1px solid #fff;
              cursor: pointer;
              transition: 0.3s;
            }
            .btn:hover {
              color: #fff;
              background-color: $primary-color;
              border-bottom: 1px solid transparent;
              transition: 0.3s;
            }
          }
        }
      }
      .contents-container:hover {
        background-color: #00000039;
        transition: 0.3s;
      }
    }
  }
}

/* shop-now-cards */

.shop-now-cards {
  .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    .card {
      height: 300px;
      width: 100%;
    }
    .latest-card-bg {
      height: 300px;
      width: 100%;
      background-image: url(../../assets/imgs/home/latest-card-bg.jpg);
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .sweat-card-bg {
      height: 300px;
      width: 100%;
      background-image: url(../../assets/imgs/home/sweat-card-bg.jpg);
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .explore-card-bg {
      height: 300px;
      width: 100%;
      background-image: url(../../assets/imgs/home/explore-card-bg.jpg);
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .linear-bg {
      height: 300px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 3px;
      transition: 0.3s;
      cursor: pointer;
      .content {
        padding-top: 20px;
        padding-bottom: 20px;
        .heading {
          width: 50%;
          font-size: 14px;
          color: #535353;
          text-transform: uppercase;
        }
        .sub-heading {
          width: 50%;
          font-size: 16px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
        }
        .linear-bg-btn {
          height: 40px;
          color: $default-color;
          width: 180px;
          outline: none;
          border: 2px solid transparent;
          font-size: 14px;
          cursor: pointer;
          border-bottom: 1px solid #fff;
          background-color: transparent;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        .linear-bg-btn:hover {
          background-color: $primary-color;
          border: 2px solid transparent;
          color: $default-color;
        }
      }
    }
    .linear-bg:hover {
      background-color: #00000039;
      transition: 0.3s;
    }
  }
}

/* support-banner */

.support-banner {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .contents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .heading {
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #2c2c2c;
      }
      .sub-heading {
        font-size: 12px;
        letter-spacing: 1px;
        color: #757575;
      }
    }
  }
}

/* top-selling-banner */

.top-selling-banner {
  background-color: #f9f9f9;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  letter-spacing: 2px;
  .products-grid-home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.8rem;
    .product {
      height: 380px;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
      transition: 0.5s;
      img {
        height: 250px;
        width: 100%;
        object-fit: contain;
      }
      .add-to-fav-icon-container {
        height: 0;
        position: relative;
        bottom: 250px;
        display: flex;
        justify-content: flex-end;
        .add-to-fav-icon {
          min-height: 30px;
          min-width: 30px;
          background-color: #fff;
          border-radius: 100%;
          box-shadow: 0 0 5px 1px #d9d9d9 !important;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: 3px;
          cursor: pointer;
        }
      }
      .base-container {
        min-height: 80px;
        max-height: 80px;
        .product-title {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: #404040;
          font-size: 12px;
          letter-spacing: 1px !important;
        }
        .price {
          font-size: 14px;
        }
        .offered {
          text-decoration: line-through;
          color: #939393;
          font-size: 14px;
        }
        .discount {
          font-size: 12px;
          color: $primary-color;
        }
      }
      .avail-colors-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        .avail-color {
          height: 20px;
          width: 20px;
          border-radius: 100%;
          box-shadow: 0 0 5px 0.5px rgba(95, 95, 95, 0.344);
        }
      }
      .add-to-cart-container {
        height: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        opacity: 0;
        position: relative;
        bottom: 0px;
        transition: 0.5s;
      
        .add-to-cart-btn {
          height: 40px;
          width: 100%;
          background-color: $primary-color;
          color: #fff;
          outline: none;
          border: 2px solid transparent;
          text-transform: uppercase;
          cursor: pointer;
          font-size: 12px;
      
          &.disabled {
            opacity: 0.7;
            cursor: default;
          }
      
          &:not(.disabled):hover {
            background-color: transparent;
            color: $primary-color;
            border: 2px solid $primary-color;
          }
        }
      }
      
    }
    .product:hover {
      box-shadow: 0 0 10px 1px #8888881c !important;
      transition: 0.5s;
      .add-to-cart-container {
        visibility: visible !important;
        position: relative;
        bottom: 30px;
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .shop-now-cards {
    .card-container {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      .card {
        height: 400px;
      }
      .latest-card-bg {
        height: 400px;
      }
      .sweat-card-bg {
        height: 400px;
      }
      .explore-card-bg {
        height: 400px;
      }
      .linear-bg {
        height: 400px;
      }
    }
  }
  .support-banner {
    .contents {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
  }
}

@media screen and (max-width: 849px) {
  .men {
    height: 40vh !important;
    .contents-container {
      height: 40vh !important;
    }
    .contents-container:hover {
      background-color: #00000039;
      transition: 0.3s;
    }
  }
  .women {
    height: 40vh !important;

    .contents-container {
      height: 40vh !important;
    }
  }
  .add-to-cart-container {
    visibility: visible !important;
    position: relative !important;
    bottom: 30px !important;
    opacity: 1 !important;
    transition: 0.5s !important;
  }
}
@media screen and (max-width: 539px) {
  .modal-content-auth {
    width: 90% !important;
  }
  .products-grid-home {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
    margin-bottom: unset !important;
    .product {
      height: 376px !important;
    }
  }
}

@media screen and (max-width: 426px) {
  .shop-now-cards {
    .card-container {
      display: block;
      width: 100%;
      .card {
        margin-top: 10px;
      }
    }
  }
  .support-banner {
    .contents {
      display: block;
      width: 100%;
      .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
      }
    }
  }
}
