/* imports */

@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
@import url("https://fonts.googleapis.com/css?family=Eagle+Lake");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Spinnaker");
:root {
  --doc-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--default-color);
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.logo-loading-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-loading-container .spinner {
  border-image: linear-gradient(45deg, #fe2d5a, #feb701, #fe2d5a, #feb701) 1;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.logo-loading-container .logo-img {
  height: 0;
  position: relative;
  bottom: 45px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
