@import url("https://fonts.googleapis.com/css?family=Poppins");

input {
  font-family: "Poppins";
}
button {
  font-family: "Poppins";
}

.font-family-poppins {
  font-family: "Poppins";
}

.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.ternary-color {
  color: var(--ternary-color);
}
.default-color {
  color: var(--default-color) !important;
}
.primary-bg {
  background-color: var(--primary-color);
}
.secondary-bg {
  background-color: var(--secondary-color);
}
.ternary-bg {
  background-color: var(--ternary-color);
}
.default-bg {
  background-color: var(--default-color) !important;
}

/* custom hr */

.custom-hr {
  height: 1.5px;
  width: 100%;
  background-color: #9a9a9a;
}

.drop-border {
  height: 6px;
  width: 70%;
  background-color: var(--primary-color);
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.toast-product-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toast-product-img img {
  padding: 5px;
  height: 70px;
  width: 70px;
  border: 1px solid rgba(128, 128, 128, 0.129);
  object-fit: contain;
}

.toast-product-msg {
  max-width: 270px;
  font-size: 14px;
  font-weight: 600;
}